:root {
  --fredFont: 'Fredericka the Great', cursive;
  --raleway: 'Raleway', sans-serif;
}

.App {
background-color:white;
background-color: rgb(32,19,17);
color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url('../public/barcartimage.jpg');
  background-size:cover;
  height: 250px;
  padding: 20px;
  color: white;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
}
.App-header h2 {
  font-size: 500%;
  text-shadow: 2px 2px black;
  font-family: var(--fredFont);
}

.App-intro {
  font-size: large;
}

.row{
  display: flex;
  justify-content: space-around;
  max-width: 100%
}

#ingredients {
  margin-left: 40px;
}

#recipe-header {
  text-align: center;
}

#search {
  margin: 5px;
  color: black;
}

.main-column {
  width:100%;
  border-width: thin;
  border-style: solid;
  margin:5px;
  padding:10px 20px;
  background-color: rgb(75,73,70);}

.column-heading {
  border-width: medium;
  border-style: groove;
  display:flex;
  align-items: center;
  justify-content: center;
  margin:10px;
  background-color: rgb(104,56,26);
  font-family: var(--fredFont);
}

.column-heading h2 {
  color:white;
  padding: 5px 20px;

}

.ingredient {
  margin: 10px 0 0 5px;
  font-family: var(--raleway);
}

.recipe-ingredient{
 font-size: 20px;
 font-family: var(--raleway);
}

.instructions {
 font-size: 18px;
 margin-top: 25px;
 font-family: var(--raleway);
}

.cocktail-button {
  background-color: #850000;
  border-radius: 10px;
  color: white;
  padding:10px;
  font-family: var(--raleway);
}
